@model IEnumerable<reserva_sala_reuniao.Models.Relatorio>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-lg p-4 mb-5 bg-white rounded">
                <div class="card-body">
                    <h1 class="text-center">Relatorios</h1>

                    <div class="text-center mb-3">
                        <a asp-action="Create" class="btn btn-primary">Criar novo</a>
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tipos de relatorios</th>
                                <th>@Html.DisplayNameFor(model => model.Arquivo)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.TipoRelatorioId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Arquivo)</td>
                                    <td class="text-end">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Editar</a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Exibir</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Apagar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Navegação de página">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Próximo">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
