@model reserva_sala_reuniao.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 mb-5 bg-white rounded">
                <div class="card-body">
                    <h1 class="text-center">Details</h1>
                    <h4 class="text-center">Reserva</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Data)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Data)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.HorasReservadas)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.HorasReservadas)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Sala)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Sala.Id)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Usuario)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Usuario.Email)
                        </dd>
                    </dl>
                    <div class="text-center">
                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Index" class="btn btn-link">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

