@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário</title>
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <div class="main-container">
        <div id="calendar">
            <div id="calendar-header">
                <button id="prev-month">&lt;</button>
                <h2 id="month-year"></h2>
                <button id="next-month">&gt;</button>
            </div>
            <table id="calendar-body">
                <thead>
                    <tr>
                        <th>Dom</th>
                        <th>Seg</th>
                        <th>Ter</th>
                        <th>Qua</th>
                        <th>Qui</th>
                        <th>Sex</th>
                        <th>Sáb</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="sidebar">
            <!-- Container para a próxima agenda -->
            <div class="border rounded p-3 mb-3">
                <h2 class="text-center">Próxima reunião:</h2>
              <div class="borded rounded p-3 ">
                @if (ViewBag.ReservaMaisProxima != null)
                {
                    <div>
                        <h3>@ViewBag.ReservaMaisProxima.Descricao</h3>
                        <p>Data: @ViewBag.ReservaMaisProxima.Data.ToString("dd/MM/yyyy HH:mm")</p>
                        <p>Localização: @ViewBag.ReservaMaisProxima.Sala.Localizacao.Nome</p>
                        <p>Usuário: @ViewBag.ReservaMaisProxima.Usuario.Nome</p>
                    </div>
                }
                else
                {
                    <p>@ViewBag.MensagemReserva</p>
                    }
                </div>
            </div>

            <!-- Container para o atalho para fazer reserva -->
            <div class="border rounded p-3">
                <h2 class="text-center">Faça sua reserva</h2>
                <div class="text-center">
                    <a class="navbar-brand" href="/Reservas">
                        <button class="btn btn-primary">Reservar sala</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/home.js"></script>
</body>
