@model IEnumerable<reserva_sala_reuniao.Models.Cargo>

@{
    ViewData["Title"] = "Index";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-10">
            
                <div class="card-body">                    
                    <div class="mb-3">
                        <h1 class="">Cargos</h1>
                    <a asp-action="Create" class="btn btn-secondary">Adicionar novo cargo</a>
                    
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                                <th>@Html.DisplayNameFor(model => model.Descricao)</th>
                                <th class="text-end">Acoes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                                    <td class="text-end">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Editar</a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Exibir</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Remover</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
